* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-image: url(pngtree-pink-and-purple-sunset-in-the-mountains-image_15626189.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font: 16px / 1.7 Open Sans, arial, Helvetica Neue, Helvetica;
}
.top { 
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.menu ul {
    display: flex;
}
.menu ul li {
    margin-left: 100px;
}
.Login {
    border: 2px white solid;
    border-radius: 5px;
    transition: background-color .4s linear;
}
.Login button {
    background-color: transparent;
    outline: none;
    color: white;
    padding: 5px;
    transition: color .4s linear;
}
.Login button:hover {
    color: black;
}
.Login:hover {
    background-color: white;
}
.box-login {
    width: 300px;
    height: 350px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 600%;
    left: 37%;
    box-shadow: 4px 2px 15px 2px rgba(28, 28, 28, 0.782);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.title-login {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    color: rgb(0, 0, 0);
}
.input-login input{
    background-color: transparent;
    outline: none;
    border-bottom: 2px rgb(92, 92, 92) solid;
    width: 250px;
    margin-top: 25px;
}
.input-login input::placeholder {
    color: black;
    font-size: 15px;
}
.remember {
    margin-top: 15px;
}
.remember a {
    margin-left: 25px;
    color: black;
}
.btn-login {
    margin-top: 15px;
    background-color: white;
    width: 250px;
    margin-left: 25px;
    border-radius: 25px;
    cursor: pointer;
}
.btn-login button {
    background-color: transparent;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
.dhaac {
    margin-top: 50px;
}
.dhacc a {
    color: black;
}

.video1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: none;
}
.video1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:hover .video1 {
    display: block;
}

.video2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: none;
}
.video2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:hover .video2 {
    display: block;
}

.video3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: none;
}

.video3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:hover .video3 {
    display: block;
}

.video4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: none;
}
.video4 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:hover .video4 {
    display: block;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
.a-video {
    border-radius: 5px;
    padding: 5px;
    transition: background-color .4s linear;
    transition: border .4s linear;
    transition: color .4s linear;
}
.a-video:hover {
    background-color: white;
    border: 3px black solid;
    color: black;
}